<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.santi.beatline_func">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Beatline"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PerfilUsuario" />
        <activity android:name=".FiltrosBusqueda" />
        <activity android:name=".RegistracionUsuario" />
        <activity android:name=".Loginn" />
        <activity android:name=".RegistracionPreferencias" />
        <activity android:name=".MenuPrincipal" />
        <activity android:name=".EditarPerfil"></activity>
    </application>

</manifest>